@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
body{
  font-family: 'Roboto Mono', monospace;
}
span{
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 2.5vw;

  text-align: center;
  margin-top: -50%;
}

.tracking {
  position: absolute;
  margin-left: 50%;
  z-index: -1;
}

.butt{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

  font-size: 1px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39,29,48,1);
  z-index: 3;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 4%;
  left: 7%;
  right: 7%;
}
/*----------------*/
#title{  font-size: 6.5vw;   color: #ECAA96; //pink line-height: -3vw; letter-spacing:-0.8vw; }
.hilight{font-size: 1.3vw;    color: #5FA332; //green }
p{       font-size: 1vw;  color: #ECAA96; //pink  }
#howto{  text-align: right; font-size: 1.5vw;    color: #5FA332; //green}
#guide{  text-align: right; font-size: 1vw;  color: #5FA332; //green }
#gest{   font-size: 1vw;  color: #5FA332; //green font-style: italic;}
/*------------------*/
#loader {
  border: 6vw solid #f3f3f3; /* Light grey */
  border-top: 4vw solid #271D30; /* purple */
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  animation: spin 2s linear infinite;

  position: relative;
  z-index: 2;
  margin-left: 35vw;
  margin-top: -45vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*------------------*/
#player1{
  margin-top: -2vw;
}
#player2{
  position: absolute;
  margin-left: -100%;
  margin-top: -2vw;
}
#player3{
  position: absolute;
  margin-left: -100%;
  margin-top: -2vw;
}
#player4{
  position: absolute;
  margin-left: -100%;
  margin-top: -2vw;
}
#player5{
  position: absolute;
  margin-left: -100%;
  margin-top: -2vw;
}
#player6{
  position: absolute;
  margin-left: -100%;
  margin-top: -2vw;
}


.rectangle {
  position: absolute;
  z-index: 1;
  height: auto;
  width: 100%;
  margin-top: -3%;

  background-color: #271D30; //purple
  opacity: 80%;
  font-size: 2vw;
  text-align: center;
  color: #ECAA96; //pink
}
