@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

span{
  font-family: 'Kavivanar', cursive;
  color: black;
  font-size: 2.5vw;

  text-align: center;
  margin-top: -50%;
}

.tracking {
  position: absolute;
  margin-left: 50%;
  z-index: -1;
}

.butt{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

  font-size: 4px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39,29,48,1);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 3vw;
  color: #ECAA96; //pink
}

#player2{
  position: absolute;
  margin-left: -100%;
}
#player3{
  position: absolute;
  margin-left: -100%;
}
#player4{
  position: absolute;
  margin-left: -100%;
}
#player5{
  position: absolute;
  margin-left: -100%;
}
#player6{
  position: absolute;
  margin-left: -100%;
}


.rectangle {
  height: auto;
  width: 80%;
  background-color: #271D30; //purple
  color: #ECAA96; //pink
  opacity: 95%;

  margin-left: 10%;
  margin-top: -5%;
}
